<h1>Live Lincoln</h1>
<h3>{{ event.event_name }}</h3>


{{ event.start_time }} on {{ event.event_date }} at {{ event.venue_name }}


{% if event.cover == "unknown" %}
{% else %}
    <p>Cover: ${{ event.cover }}</p>
{% endif %}


<p>Bands:</p>
<ul>{% for band in event.band_names.all %}
<li><a href="{{ band.get_absolute_url }}">{{ band.band_name }}</a></li>
{% endfor %}</ul>

<p>Genres:</p>
<ul>{% for genre in event.event_genres.all %}
<li>{{ genre.genre }}</li>
{% endfor %}</ul>


<p><a href="/events.html">Events List</a> | <a href="/homepage.html">Home</a></p>
