{% extends "base.html" %}

{% block title %}
<h1>{{ event.event_name }}</h1>
{% endblock %}


{% block main %}
<h3>{{ event.start_time }} on {{ event.event_date }}<br>
at <a href="{{ event.venue_name.get_absolute_url }}">{{ event.venue_name }}</a></h3>


{% if event.cover == "unknown" %}
{% else %}
    <h3>Cover: ${{ event.cover }}</h3>
{% endif %}

<h5>Bands:</h5>
<ul>{% for band in event.band_names.all %}
<li><a href="{{ band.get_absolute_url }}">{{ band.band_name }}</a></li>
{% endfor %}</ul>

<h5>Genres:</h5>
<ul>{% for genre in event.event_genres.all %}
<li>{{ genre.genre }}</li>
{% endfor %}</ul>
{% endblock %}

{% block sidebar %}
{% endblock %}
