
{% extends "base.html" %}

{% block title %}
<h1>LiveLincoln <small>Where live music lives.</small></h1>
{% endblock %}


{% block main %}
<h3>Upcoming Events...</h3>

{% if latest_event_list %}
    <u1>
    {% for event in latest_event_list %}
        <p><b>{{ event.event_date }}</b> at {{ event.start_time }}
        <blockquote><a href="{{ event.get_absolute_url }}">{{ event }}</a><br>
        at <a href="{{ event.venue_name.get_absolute_url }}">{{ event.venue_name }}</a></blockquote></p>
    {% endfor %}
    </u>
{% else %}
    <p>No events available.</p>
{% endif %}
{% endblock %}


{% block sidebar %}
{% endblock %}
