{% extends "base.html" %}

{% block title %}
<h1>{{ venue.venue_name }}</h1>
{% endblock %}

{% block main %}
<p><b>Address</b>: {{ venue.street_address }}, {{ venue.city }}, {{ venue.state }} {{ venue.zip_code }}</p>

{% if venue.phone == "none" %}
{% else %}
    <p><b>Phone</b>: {{ venue.phone }}</p>
{% endif %}

{% if venue.email == "none" %}
{% else %}
    <p><b>E-mail</b>: <a href="mailto:{{ venue.email }}">{{ venue.email }}</a></p>
{% endif %}

{% if venue.website == "none" %}
{% else %}
    <p><b>Website</b>: <a href="http://{{ venue.venue_website }}">{{ venue.venue_website }}</a></p>
{% endif %}
{% endblock %}

{% block sidebar %}
<b>Upcoming Events</b>
<p><ul>{% for object in events %}
<li>{{ object.event_date }} at {{ object.start_time }}<br>
<a href="{{ object.get_absolute_url }}">{{ object.event_name }}</a></li></p>
{% endfor %} </ul>
{% endblock %}
